.container {
  position: relative;
  background-color: var(--color-neutral-300);
  min-height: 100vh;
}

.wrapper {
  position: sticky;
  bottom: -1px;
  z-index: 10;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  overflow: hidden;
}

.agreeBtn {
  height: 44px;
}

.wrapperBtn {
  position: sticky;
  bottom: -1px;
}
