.header {
  display: flex;
  height: 50px;
  line-height: 64px;
  background-color: var(--color-bg-primary);
  justify-content: center;
  padding: 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-bg-primary);
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;

  @media (max-width: 1280px) {
    padding: 16px 40px;
  }
}

.notDevicePage {
  max-width: 1440px;
}

.devicePage {
  padding: 16px 40px;
}

.logoSYNAPS {
  cursor: pointer;
  width: 114px;
  height: 75px;
  color: var(--primary);
}

.logo {
  color: var(--primary);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout {
  display: flex;
  gap: 8px;
  cursor: pointer;
  background-color: var(--secondary);
  border-color: var(--primary);

  &:hover {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
    span {
      color: var(--secondary);
    }
  }

  span {
    color: var(--primary);
  }
}

.link {
  color: var(--secondary);
  display: flex;
  height: fit-content;
  gap: 6px;
  align-items: center;
}
